*
{
	margin: 0;
	padding: 0;
}

html
{
  scroll-behavior: smooth;
}

/
html,
body {
  overflow-x: hidden;
}
/


/--Navigation--/
#nav-bar
{
	position: sticky;
	top: 0;
	z-index: 10;
}
.navbar-brand img
{
	height: 40px;
	padding-left: 30px;
}
.navbar-nav li
{
	padding: 0 10px;
}
.navbar-nav li a
{
	float: right;
	text-align: left;
	
}
#nav-bar ul li a:hover
{
	color: #007bff!important;
}
.navbar
{
	background: #fff;	
}
.navbar-toggler
{
	border: none!important;
}
.nav-link
{
	color: #555!important;
	font-weight: 600;
	font-size: 16px;
}
/--Slider--/
#slider
{
	width: 100%;
}
.carousel-caption
{
	top: 25%;
	transform: translateY(-50%);
	bottom: initial!important;
}
.carousel-caption h5
{
	color: #fff;
	font-size: 42px;
}
/--About--/
/#about
{
	padding-top: 100px;
	color: #555;
}
#about .btn
{
	margin-top: 30px;
	margin-bottom: 30px;
}
.about-content
{
	padding-top: 30px;

}/
/--Mission--/
#missions
{
	background: #333;
	color: #fff;

}
#missions
{
	background: #333;
	color: #fff;

}
#missions h1
{
	text-align: center;
	color: #fff !important;
	padding-top: 75px;
	padding-bottom: 10px;

}
#missions h1::after
{
	content: '';
	background: #efefef;
	display: block;
	height: 3px;
	width:170px;
	margin: 20px auto 5px;
}

.mission
{ 	margin-top: 40px;
}

.icon
{
	font-size: 40px;
	margin: 20px auto;
	padding: 20px;
	height: 80px;
	width: 80px;
	border: 1px solid #fff;
	border-radius: 50%;
}
#missions p
{
	font-size: 14px;
	margin-top: 20px;
	color: #ccc;
}
.mission .col-md-3:hover
{
	background: #007bff;
	cursor: default;
	transition: 0.7s;
}

/---Team Mmebers---/
#team
{
	padding-top: 30px;
	padding-bottom: 50px;
	color: #555;
}

h1
{
	text-align: center;
	color: #555 !important;
	padding-top: 75px;
	padding-bottom: 50px;
}

h1::after
{
	content: '';
	background: #007bff;
	display: block;
	height: 3px;
	width:170px;
	margin: 20px auto 5px;
}
h2
{
	text-align: center;
	color: #555 !important;
	padding-bottom: 10px;
	padding-top: 20px;
}
.profile-pic
{
	margin-top: 25px;
}
.profile-pic .img-box
{
	opacity: 1;
	display: block;
	position: relative;
}


.profile-pic h2
{
	font-size: 22px;
	font-weight: bold;
	margin-top: 15px;
	color: #007bff !important;

}
.profile-pic h3
{
	font-size: 15px;
	font-weight: bold;
	margin-top: 15px;
padding-bottom: 30px;
}



#ConcernsOverview
{

	color: #fff !important;
	background: #3c0c44;
	padding-bottom: 50px;
}

#ConcernsOverview h1
{
	text-align: center;
	padding-top: 75px;
	padding-bottom: 50px;
	color: #fff !important;

}

h1::after
{
	content: '';
	background: #007bff;
	display: block;
	height: 3px;
	width:170px;
	margin: 20px auto 5px;
}

.concern-content
{
	overflow: hidden;
	padding-top: 56.25%;
	position: relative;
 text-align: center;
 
}

.concern-content iframe
{
	border: 0;
	height: 100%;
	left: 0;
	top: 0;
	width: 100%;
 position: absolute;
}

/* 4x3 Aspect Ratio */
.concern-content-4x3
{
	padding-top: 75%;
}

#Blocker
{

    position:absolute;
    z-index:10;
    right:0.01px;
    bottom:1px;
    height:27px;
    width:100%;
    background-color:orange;
}

#action

{
	
	padding-bottom: 50px;
	
}

h1
{
	text-align: center;
	color: #555 !important;
	padding-top: 75px;
	
}

h1::after
{
	content: '';
	background: #007bff;
	display: block;
	height: 3px;
	width:170px;
	margin: 20px auto 5px;
}

.action-content
{
	overflow: hidden;
	padding-top: 56.25%;
	position: relative;
}

.action-content iframe
{
	border: 0;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

/* 4x3 Aspect Ratio */
.action-content-4x3
{
	padding-top: 75%;
}


#Blocker2
{

    position:absolute;
    z-index:10;
    right:0.01px;
    bottom:1px;
    height:27px;
    width:100%;
    background-color:grey;
}
#form
{

	color: #555;
	background:#EAFAF1;
	padding-bottom: 50px;
}

h1
{
	text-align: center;
	color: #555 !important;
	padding-top: 75px;
	padding-bottom: 50px;

}

h1::after
{
	content: '';
	background: #007bff;
	display: block;
	height: 3px;
	width:170px;
	margin: 20px auto 5px;
}
.form-content
{
	padding-top: 30px;

}
.form iframe
{
	position:sticky;
	top:0;
	left:0;
	width:100%;
	height:100%;
	padding-top: 100px;
}
/*--Footer--*/
#footer
{
	background: #333;
	color: #fff;
	padding: 20px;

}

nav.red
{
	background: #ff0000;

}

nav.red li a
{	color: #555
}